<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="danggai.app.parcelwhere">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="danggai.app.parcelwhere.App"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParcelWhere"
        android:screenOrientation="portrait"
        >

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="danggai.app.parcelwhere.App.workmanager-init"
            tools:node="remove"/>

        <activity
            android:name="danggai.app.parcelwhere.ui.main.MainActivity"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="danggai.app.parcelwhere.ui.setting.SettingActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop" />

        <activity
            android:name="danggai.app.parcelwhere.ui.track.add.TrackAddActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop" />

        <activity
            android:name="danggai.app.parcelwhere.ui.track.detail.TrackDetailActivity"
            android:parentActivityName="danggai.app.parcelwhere.ui.main.MainActivity"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTop" />

        <service
            android:name="danggai.app.parcelwhere.service.MyNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

    </application>

</manifest>